#parallax-image {
    background-image: url("images/carousel2.jpeg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 50px;
}

h3 {
    font-family: Agdasima;
}

i {
    padding: 10px;
    height: 70px;
    width: 70px;
}
#parallax-image2 {
    background-image: url("images/flowerbannerend.jpg");
    height: 250px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}